* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

main {
  padding: 50px 0;
  text-align: center;
}

.destination {
  display: inline-block;
  margin: 30px;
  vertical-align: top;
}

.destination img {
  width: 100%;
}

.destination h3 {
  margin-top: 10px;
}

.destination p {
  margin-top: 5px;
  font-size: 16px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF6F61;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

nav a {
  color:#000000
}

.button {
  color:#1E8449;
}

.button:hover {
  background-color: #2724249f;
}

#hero {
  background-image: url("beautiful.jpg");
  background-size: cover;
  background-position: center;
  color: #229954;
  padding: 200px 0;

}

#hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

#hero p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: #FBEEE6;
}

#destinations h2 {
  font-size: 36px;
  margin-bottom: 50px;
  margin-top: 50px;
}

footer {
  text-align: center;
  padding: 50px 0;
  background-color: #F6DDCC;
  border-top: 1px solid #FBEEE6;
}

footer p {
  font-size: 14px;
  color: #FBEEE6;
}
body {
  background-color: #FBEEE6;
}
textarea {
  margin-top: 20px;
}


@media screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav li {
    margin: 10px 0;
  }
  
  .destination {
    width: 80%;
    margin: 30px auto;
  }

}
